@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/* General Styling for the website */

* {
  border-style: border-box;
}

ul {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: 5f5f5f;
  font-family: "Questrial";
}

.container {
  background-color: #5d5b5b;
  width: 100%;
}

.large {
  font-size: 4rem;
}

.medium {
  font-size: 3rem;
}

.small {
  font-size: 2rem;
  line-height: 2.3rem;
}
.very-small {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.vv-small {
  font-size: 1rem;
}

.green {
  color: #91d990;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.no-underline {
  text-decoration: none;
}

.small-line-height {
  line-height: 1rem;
}

/* Styling for the navbar */

.nav-element {
  text-decoration: none;
  border: 0.1rem solid white;
  padding: 0.4rem;
  border-radius: 0.4rem;
  color: white;
  /* font-weight: bold; */
  /* letter-spacing: 0.05rem; */
}
.nav-element:hover {
  background-color: #76d674;
}

.header-nav a {
  margin: 1rem;
}

.nav-ul {
  list-style: none;
  display: flex;
  padding: 1rem;
  color: black;
}

.main-header {
  background-color: #91d990;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  padding-bottom: 0rem;
  margin-bottom: 0;
}

.logo:hover {
  fill: mediumslateblue;
}

/* About me styling */
.about-section {
  /* background-color: teal; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 7rem;
  width: 100%;
}

.left-about {
  /* background-color: rgb(243, 44, 233); */
  width: 35rem;
  height: 25rem;
  /* margin-left: 5rem; */
  display: inline-block;
}

.who {
  font-size: 4rem;
}

.who::after {
  content: "Full Stack Developer.";
  color: #91d990;
}

.right-about {
  /* background-color: rgb(183, 243, 44); */
  width: 35rem;
  /* height: 33rem; */
  /* margin-left: 4rem; */
}

/* Skills styling */
.skills-section {
  /* background-color: khaki; */
  width: 100%;
  /* h100r */
  position: relative;
  /* height: 40rem; */
}

/* .skills-title {
  background-color: #444444;
  text-align: center;
  height: 10rem;
} */

.skills-title {
  background-color: #444444;
  text-align: center;
  width: 100%;
}

.technologies {
  display: flex;
  /* background-color: lightpink; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.tech-item {
  width: 20rem;
  height: 15rem;
  /* background-color: mediumslateblue; */
  text-align: center;
}

.tech-size {
  width: 10rem;
  height: 10rem;
  display: inline-block;
}

.divider {
  width: 100%;
  background-color: #fff;
}

.main-divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Project Styling */
.project-section {
  /* background-color: mediumvioletred; */
}

.project-container {
  /* background-color: lightpink; */
  display: flex;
  justify-content: center; /*NOTE: Clips to the left on small devices*/
  flex-wrap: wrap;
  align-items: center;
  /* align-content: center; */
  flex-direction: column;
}

.project-item {
  /* background-color: peru; */
  /* width: 80rem; */
  /* height: 25rem; */
  display: flex;
  align-self: center; /* */
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 5rem; */
  /* margin-right: 40rem; */
  margin-bottom: 4rem;
}

.project-img {
  /* background-color: olive; */
  /* width: 40rem; */
  height: 20rem;
  border-radius: 1rem;
  border: 0.2rem solid rgb(255, 255, 255);
  object-fit: contain;
  margin-top: 2rem;
}

.project-info {
  /* background-color: midnightblue; */
  margin-left: 6.5rem;
  margin-top: 2rem;
}

.project-desc {
  width: 30rem;
}

.built-with {
  word-spacing: 2rem;
}

.links-to-project {
  /* background-color: grey; */
  color: white;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-top: 0rem;
}

.ltp-button {
  background-color: #91d990;
  border-radius: 0.5rem;
  color: rgb(0, 0, 0);
  list-style: none;
  border: 2px solid rgb(0, 0, 0);
  width: 4rem;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  margin-top: -1rem;
}

.ltp-button:hover {
  background-color: #57dc55;
}

/*Contact Styling */

.contact-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  background-color: #91d990;
  padding: 2rem;
  flex-wrap: wrap;
}

.contact-item {
  /* background-color: #ff0; */
  text-align: center;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.contact-logo {
  border-radius: 0.5rem;
  /* background-color: #838383; */
  width: 4rem;
}

.contact-logo:hover {
  background-color: #4de059;
}

.contact-text {
  /* background-color: aqua; */
  color: #444444;
}

.contact-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 80rem; */
  /* background-color: #fff; */
}
